In [1]:
# Week 2 - Monday Lesson (variable assignment, loops, lists)

In [ ]:
## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [1]:
num_int=756

print(num_int)
print(type(num_int))

756
<class 'int'>

##### Assinging float

#### Performing Calculations on ints and floats

##### Addition

##### Subtraction

##### Multiplication

##### Division

In [4]:
num1= 
result_div = num2 / num1
print(result_div)

NameError: name 'num2' is not defined

##### Floor Division

In [8]:
result_norm = 15 / 4
print(result_norm)

result_floor = 15 // 4
print(result_floor)

result_floor //= 2 
print(result_floor)

3.75
3
1

##### Modulo

In [13]:
num3 = 48
num4 = 5

result_mod = num3 % num4
print(result_mod)

3

##### Exponential

In [ ]:
num5 = 3
num6 = 2

cube  = num6 ** num5

### String Input-Output

##### String Assignment

In [14]:
name1 = "Steven"
print(name1)
print(type(name1))

Steven
<class 'str'>

In [18]:
name2 = "Adetomiwa"
print(name2)
print(type(name2))

Adetomiwa
<class 'str'>

In [17]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [23]:
print(name1 + " " + name2)

Steven Adetomiwa

##### Escape Characters

In [24]:
print("Hello my \
name is steven")

Hello my name is steven

In [27]:
#\n - new character
print("Hello\n howare you?")

Hello
 howare you?

In [ ]:
# \n

In [ ]:
# \t

In [ ]:
# Raw String (r"")

##### String Concatenation

In [29]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name

print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

In [30]:
num_a = 10
num_b = "10"

print(num_a + num_b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
print("="*40)

========================================

##### Type Conversion

In [33]:
print(type(num_b))

<class 'str'>

In [34]:
num_a_str = str(num_a)

print(num_a, type(num_a))
print(num_a_str, type(num_a_str))

print(num_a_str + num_b)

10 <class 'int'>
10 <class 'str'>
1010

In [35]:
num_b_int = int(num_b)

print(num_b, type(num_b))
print(num_b_int, type(num_b_int))

print(num_a + num_b_int)

10 <class 'str'>
10 <class 'int'>
20

##### .format() and f-strings

In [41]:
name = "Steven"
home = "Chicago"
age = 28

print("Hello my name is {} and I am {} and I am from {}!".format(name,age,home))

print(f"Hello my name is {name} and I am {age} and I am from {home}!")

Hello my name is Steven and I am 28 and I am from Chicago!
Hello my name is Steven and I am 28 and I am from Chicago!

In [36]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [ ]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

### Booleans

In [42]:
bool_true = True

print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [43]:
bool_false = False
print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [44]:
# if <expression>:
#     <statement>

if True:
    print("hello this is true")

hello this is true

In [45]:
if False:
    print("Hello this false")

In [47]:
print('Start code')

if True:
    print('Hello')
    print('How are you')
    
print('End Code')

Start code
Hello
How are you
End Code

In [50]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10 
num2 = 5
num3 = 2

print(num1 > num2)
print(num1 == num2 * num3)
print(num1 != num2)

True
True
True

In [51]:
if num1 > num2:
    print('num1 is greater than num2')
    
if num1 == num2 * 2:
    print('num1 is double the value of num2')
    
    
if num1 != num3:
    print('num1 and num3 are not equal')

num1 is greater than num2
num1 is double the value of num2
num1 and num3 are not equal

## Using 'and'/'or' with If Statements

In [53]:
# Truth Tree:
# T and T = T
# T and F = F
# F and T = F
# F and F = F


# T or T = T
# T or F = T
# F or F = F




potential_candidate_gpa = 0.0
potential_candidate_act = 0

if potential_candidate_gpa > 2.5 and potential_candidate > 25:
    print('Student has met minimum requirments. Move them along...')
else:
    print('Reject student ....')

Reject student ....

In [54]:
potential_candidate_gpa = 3.2
potential_candidate_act = 20

if potential_candidate_gpa > 2.5 or potential_candidate > 25:
    print('Student has met minimum requirments. Move them along...')
else:
    print('Reject student ....')

Student has met minimum requirments. Move them along...

In [ ]:
potential_students = [(3.4, 32), (3.0, 23)]

### Else Statements

In [56]:
# An else statement runs when the if statement above it evaluates to False
age = 13 

if age >= 18:
    print('person can vote')
else:
    print('YOu must be at least 18 to vote')

YOu must be at least 18 to vote

### Elif Statements

In [ ]:
# An elif only runs when the if (or elif) directly above it evaluates to False

required_age = 18
with_a_parent = 14

movie_goer_age = 15


if movie_goer_age >= required_age:
    print('Enjoy the film!')
elif movie_goer_age >= with_a_parent:
    print('You must be accompanied by an adult to see this film')
else:
    print('You are not old enough to see this film')

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [59]:

ticket = 10
person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00

if person_age >= 65:
    ticket *= .75
elif person_age < 10:
    ticket *= .50
    
print(f"Your ticket is ${ticket:..2f}")

ValueError: Format specifier missing precision

### Lists

##### Declaring Lists

In [63]:
# Ordered collection of data; mutable and iterable; data can be of any type;

list_1 = [] #empty list declaration
print(list_1)
print(type(list_1))

names = ['mike', 'carol', 'angelica', 'jeff', 'jim', 'penelope']
print(names)
print(type(names))

[]
<class 'list'>
['mike', 'carol', 'angelica', 'jeff', 'jim', 'penelope']
<class 'list'>

##### Indexing a List

In [67]:
# list [start: stop: step] 
print(names[4])

print(names[1:])

jim
['carol', 'angelica', 'jeff', 'jim', 'penelope']

##### .append()

##### .insert()

In [ ]:
# list.insert(index,value)

##### .pop()

In [ ]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable


##### .remove()

In [ ]:
# value to be removed , not index

##### del()

In [ ]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

##### Concatenating Two Lists

In [ ]:
# will append two lists together, not add up the elements in each list

##### Lists Within Lists

In [ ]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

### For Loops

In [68]:
# for <keyword> in <iterable>:
#     <statement>

print('begin Loop')

for x in [5, 10, 15, 20, 25, 30]:
    print (x)




print('End Loop')

begin Loop
5
10
15
20
End loop

In [71]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for color in colors:
    print(color)

red
orange
yellow
green
blue
indigo
violet

In [73]:
for letter in name:
    print(letter)
print('hello')

S
t
e
v
e
n
hello

##### Continue Statement

In [ ]:
list_to_use = [10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# will continue to next iteration

In [ ]:
for element in list_to_use:
    if

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Nested/Double For Loops

### While Loops

In [ ]:
# while <conditional>:
#     <statement to run while condition is true>

##### Looping 'While True'

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:

        
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    num1 = x ** 3
    if num1 > 1000:
        break
    print(num1)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [6]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break



for num in range(2, 101):
    if all(num%i!=0 for i in range(2,num)):
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>